{% extends "nav.html" %}
{% block content %}
{% load static %}

  <!-- slider section -->
  <section class="slider_section position-relative">
    <div class="slider_bg_box">
      <img src="{% static 'images/slider-bg.jpg' %}" alt="">
    </div>
    <div class="slider_bg"></div>
    <div class="container">
      <div class="col-md-9 col-lg-8">
        <div class="detail-box">
          <h1>
            Sentimental
            <br> Analysis
          </h1>
        </div>
      </div>
    </div>
  </section>
  <!-- end slider section -->
  <!-- footer section -->
  <footer class="footer_section">
    <div class="container">
      <p>
        &copy; <span id="displayYear"></span> All Rights Reserved By
        <a href="https://github.com/Sanjay-Kumar-SK-MCA-23">Github</a>
      </p>
    </div>
  </footer>
  <!-- footer section -->
  {% endblock %}
